@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  @apply bg-white w-full md:container mx-auto md:mx-auto h-[1500px] p-2 md:m-0 md:mt-16 md:w-[84%] rounded-lg drop-shadow-2xl;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #f2f0ee;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
